@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background: #D5DED9;
}

.label {
  margin-top: rem-calc(10);
}

hr {
  border: 1px dashed black;
}

h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.progress {
  margin-top: rem-calc(5);
}

.tech-cat-separator:last-of-type {
  display: none;
}