@import url(http://fonts.googleapis.com/css?family=Bevan);
@import url(http://fonts.googleapis.com/css?family=Roboto);

header {
  background: $primary-light;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(40);
  box-shadow: 0px 1px 10px $primary-color;
  border-bottom: thin solid #222222;
  margin-bottom: rem-calc(40);

  .name {
    h1, h2 {
      font-family: 'Bevan', cursive;
      color: #BFBFBF;
      text-shadow: 2px 2px black;
    }
  }

  a {
    color: lightslategray;

    &:hover, &:focus {
      color: #D5DED9;
    }
  }

  @media #{$small-only} {
    .th {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem-calc(40);
    }

    .name {
      text-align: center;
    }
  }
}

.social-container {
  display: block;
}

.social-icon {
  line-height: 0;
  font-size: rem-calc(30);
  display: inline-block;
  margin-right: rem-calc(4);
  vertical-align: middle;
}

.social-text {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: rem-calc(18);
  line-height: 1;
  vertical-align: middle;
}

.social-list {
  display: inline-block;
  float: right;
  margin-bottom: 0;

  @media #{$small-only} {
    display: table;
    margin-left: auto !important;
    margin-right: auto;
    float: none;
  }
}