.magellan {
  background: currentcolor;
  box-shadow: 0px 4px 8px $primary-color;
  margin-bottom: rem-calc(30);

  // .sub-nav {
  //   a {
  //     color: wh;
  //   }

  //   a:hover {
  //     color: white;
  //   }

  //   .button {
  //     margin:0;
  //   }
  // }
}