<div class="row">
  <div class="medium-3 small-12 columns">
    <h3><%= data.about.header %></h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="medium-9 medium-offset-3 small-12 columns">
      <div class="row">
        <% data.about.paragraphs.each do |a| %>
          <p><%= a %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
