<div class="row">
  <div class="medium-3 small-12 columns">
    <h3>About Me</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="medium-9 medium-offset-3 small-12 columns">
      <div class="row">
        <p>I am currently studying Business Information Technology in Haaga-Helia University of Applied Sciences and I'm
          focusing on Web Development. I'm planning to graduate in the end of 2014 and work in web development field
          after that since that is what interest me the most and where I have the most experience.</p>

        <p>The programming
          languages that I have been programming with are C#, Java, Ruby,
          Javascript,
          Coffeescript, Python and PHP. When doing web development, I have been using Ruby on Rails, Django, ASP.NET MVC
          and ASP.NET WebForms as frameworks. I'm also fluent with HTML and CSS & Sass. From databases I'm familiar with
          Microsoft SQL Server, IBM DB2, mySQL,
          Postgresql and MongoDB. I like to do some
          developing on my free time and Ruby on Rails is my framework of choice then. All my projects can be seen on
          <a href="https://github.com/tiere" target="_blank">GitHub</a>.</p>

        <p>I can manage Windows
          and Linux server environments and workstations and I'm beginning to be pretty fluent with the command line on
          Linux. I have configured an Ubuntu 12.04 server to host one of my Ruby on
          Rails application with nginx as the web server, Passenger as the application server and PostgreSQL as the
          database.</p>
      </div>
    </div>
  </div>
</div>