<div class="row">
  <div class="medium-3 small-12 columns">
    <h3 class="no-margin-top">Education</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="row">
      <div class="large-3 medium-4 small-12 columns">
        <span class="label">August 2011 - Present</span>
      </div>

      <div class="large-9 medium-8 small-12 columns">
        <h4 class="subheader">Business Information Technology</h4>
        <h5 class="subheader">Haaga-Helia University of Applied Sciences</h5>

        <ul class="square">
          <% data.haagahelia.knowledges.each do |k| %>
              <li><%= k %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>