<div class="row">
  <div class="large-3 medium-4 small-12 columns">
    <span class="label"><%= education.time %></span>
  </div>

  <div class="large-9 medium-8 small-12 columns">
    <h4 class="subheader"><%= education.program %></h4>
    <h5 class="subheader"><%= education.school %></h5>

    <ul class="square">
      <% education.knowledges.each do |k| %>
          <li><%= k %></li>
      <% end %>
    </ul>
  </div>
</div>