<footer>
  <div class="row">
    <div class="medium-6 small-12 columns copyright">
      <p class="no-margin-bottom">Copyright 2014 Tommi Järvinen</p>
    </div>
    <div class="medium-6 small-12 columns">
      <h6 class="no-margin-bottom"><a href="#" data-options="align:top" data-dropdown="software">Software used when making this CV</a></h6>
    </div>
  </div>
</footer>