<footer>
  <div class="row">
    <div class="medium-6 small-12 columns copyright">Copyright 2016 Tommi Järvinen</div>
    <div class="medium-6 small-12 columns hide-for-small-only text-right">
      <a href="#" data-options="align:top;" data-dropdown="software">Software used for making this CV</a>
    </div>
  </div>
</footer>
