<header>
  <div class="row">
    <div class="medium-2 small-12 columns">
      <%= image_tag 'http://www.gravatar.com/avatar/e7b8a56d3d7c8e239842fa40aa781eec?s=100', alt: 'Gravatar', class: 'th' %>
    </div>

    <div class="medium-6 small-12 columns name">
      <h1>Tommi Järvinen</h1>

      <h2>Web Developer</h2>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="medium-12 small-9 small-centered columns connect">
        <h4>Contact Information:</h4>

        <ul class="no-bullet">
          <li>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=0152QNv8C_lyW5H9NL4dyKGQ==&amp;c=UgHBIOxlFRQ7pPF6h-SoEZfQZS3MDi5iGJOnT2_ZafY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\0750152QNv8C_lyW5H9NL4dyKGQ\75\75\46c\75UgHBIOxlFRQ7pPF6h-SoEZfQZS3MDi5iGJOnT2_ZafY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Email</a>
          </li>
          <li><a href="http://fi.linkedin.com/pub/tommi-j%C3%A4rvinen/92/831/973/" target="_blank">LinkedIn</a></li>
          <li>Location: Helsinki, Finland</li>
        </ul>
      </div>
    </div>
  </div>
</header>