<div class="row">
  <div class="medium-3 small-12 columns">
    <a name="language"></a>

    <h3 data-magellan-destination="language">Language skills</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <%= partial 'layouts/language' %>
  </div>
</div>