<div class="row">
  <div class="medium-3 small-12 columns">

    <h3>Language skills</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="medium-9 medium-offset-3 small-12">
      <ul class="no-bullet">
        <% data.languages.each do |language| %>
            <%= partial 'layouts/language', locals: {language: language} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>