<div class="row">
  <div class="medium-9 medium-offset-3 small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Language</th>
          <th>Understanding</th>
          <th>Speaking</th>
          <th>Writing</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Finnish</td>
          <td>Excellent</td>
          <td>Excellent</td>
          <td>Excellent</td>
        </tr>

        <tr>
          <td>English</td>
          <td>Excellent</td>
          <td>Excellent</td>
          <td>Excellent</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>