<div class="medium-9 medium-offset-3 small-12">
  <ul class="square">
    <li><strong>Finnish:</strong> Mother tongue</li>
    <li><strong>English:</strong> Excellent</li>
    <li><strong>Swedish:</strong> Basics</li>
  </ul>
</div>