<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Curriculum Vitae</a></h1>
    </li>
  </ul>
</nav>

<div class="magellan" data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="education"><a href="#education">Education</a></dd>
    <dd data-magellan-arrival="work"><a href="#work">Work Experience</a></dd>
  </dl>
</div>
