<div class="magellan" data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="education"><a href="#education">Education</a></dd>
    <dd data-magellan-arrival="work"><a href="#work">Work Experience</a></dd>
  </dl>
</div>
