<div class="magellan" data-magellan-expedition="fixed" data-options="destination_threshold:70;throttle_delay:0;">
  <dl class="sub-nav">
    <dd data-magellan-arrival="education"><a href="#education">Education</a></dd>
    <dd data-magellan-arrival="work"><a href="#work">Work Experience</a></dd>
    <dd data-magellan-arrival="programming-languages"><a href="#programming-languages">Programming language skills</a></dd>
    <dd data-magellan-arrival="language"><a href="#language">Language Skills</a></dd>
  </dl>
</div>
