<nav class="tab-bar show-for-small-only">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Curriculum Vitae</h1>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li data-magellan-arrival="education"><a href="#education">Education</a></li>
    <li data-magellan-arrival="work"><a href="#work">Work Experience</a></li>
    <li data-magellan-arrival="programming-languages"><a href="#programming-languages">Technology Knowledge</a></li>
    <li data-magellan-arrival="language"><a href="#language">Languages</a></li>
  </ul>
</aside>

<a class="exit-off-canvas"></a>