<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Curriculum Vitae</h1>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href="#education">Education</a></li>
    <li><a href="#work">Work Experience</a></li>
    <li><a href="#technologies">Technology Knowledge</a></li>
    <li><a href="#languages">Languages</a></li>
  </ul>
</aside>

<a class="exit-off-canvas"></a>