<li>
  <a href="<%= social.link %>" class="social-container" target="_blank" <%= social.attributes %>>
    <span class="social-icon <%= social.icon %>"></span>
    <span class="social-text"><%= social.name %></span>
  </a>
</li>