<div class="row">
  <div class="small-6 large-4 medium-4 columns">
    <h5><%= tech.name %></h5>
  </div>
  <div class="small-6 large-8 medium-8 columns">
    <div class="progress">
      <span class="meter" style="width:<%= tech.skill %>%"></span>
    </div>
  </div>
</div>