<div class="row">
  <div class="small-6 large-5 medium-5 columns">
    <h4><%= tech.name %></h4>
  </div>
  <div class="small-6 large-7 medium-7 columns">
    <div class="progress">
      <span class="meter" style="width:<%= tech.skill %>%"></span>
    </div>
  </div>
</div>