<div class="row">
  <div class="row">
    <h3 class="margin-bottom"><%= tech_cat[1].name %></h3>
  </div>
  <div class="row">
    <% tech_cat[1].nodes.each do |tech| %>
        <%= partial 'layouts/technology', locals: {tech: tech} %>
    <% end %>
  </div>
</div>
<hr/>