<div class="row">
  <div class="medium-9 medium-offset-3 small-12 columns">
    <div class="small-6 large-5 medium-5 columns no-padding-left">
      <h4><%= t.name %></h4>
    </div>
    <div class="small-6 large-7 medium-7 columns">
      <div class="progress">
        <span class="meter" style="width:<%= t.skill %>%"></span>
      </div>
    </div>
  </div>
</div>