<div class="row">
  <div class="medium-3 small-12 columns">
    <h3 class="no-margin-top">Work Experience</h3>
  </div>
  <div class="medium-9 small-12 columns">
    <% data.companies.each do |company| %>
        <%= partial 'layouts/workplace', locals: {company: company} %>
    <% end %>
  </div>
</div>