<div class="row">
  <div class="medium-3 small-12 columns">
    <a name="work"></a>

    <h3 data-magellan-destination="work">Work Experience</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <% data.companies.companies.each do |company| %>
        <%= partial 'layouts/workplace', locals: {time: data.send(company).time, title: data.send(company).title, company: data.send(company).company, duties: data.send(company).duties} %>
    <% end %>
  </div>
</div>