<div id="education" class="anchor"></div>
<%= partial 'layouts/education' %>

<div id="work" class="anchor"></div>
<hr>

<%= partial 'layouts/work_experience' %>

<div id="technologies" class="anchor"></div>
<hr>

<%= partial 'layouts/technologies' %>

<div id="language" class="anchor"></div>
<hr>

<%= partial 'layouts/languages' %>