<a name="education"></a>
<%= partial 'layouts/education' %>

<hr/>

<a name="work"></a>
<%= partial 'layouts/work_experience' %>

<hr>

<a name="technologies"></a>
<%= partial 'layouts/technologies' %>

<hr>

<a name="languages"></a>
<%= partial 'layouts/languages' %>