<div class="row">
  <div class="medium-3 small-12 columns">
    <a name="education"></a>
    <h3 data-magellan-destination="education">Education</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="medium-3 small-12 columns">
      <span class="label">August 2011 - Present</span>
    </div>

    <div class="medium-9 small-12 columns">
      <h4 class="subheader">Business Information Technology</h4>
      <h5 class="subheader">Haaga-Helia University of Applied Sciences</h5>

      <ul>
        <li>Programming (C#, Ruby (on Rails), Python, Django, Java, XML, Javascript, PHP)</li>
        <li>Web Technologies (XML, Ajax, HTML5, CSS)</li>
        <li>Managing server environments (Windows Server 2008 and 2012, Ubuntu Server)</li>
        <li>Managing workstations (Windows and Linux)</li>
        <% 20.times do %>
        <li><%= lorem.sentence %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="medium-3 small-12 columns">
    <a name="work"></a>
    <h3 data-magellan-destination="work">Work Experience</h3>
  </div>

  <div class="medium-9 small-12 columns">
    <div class="medium-3 small-12 columns">
      <span class="label">Jan 2014 - Feb 2014</span>
    </div>

    <div class="medium-9 small-12 columns">
      <h4 class="subheader">Software Developer</h4>
      <h5>SolArch Oy</h5>

      <ul>
        <% 20.times do %>
        <li><%= lorem.sentence %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
